<!-- main app container -->

<!-- 
<div id="header">
    <header>
     <div>
     <span class="header">Welcome {{currentUser.firstName}} | {{todaysDate | date}} | <a [routerLink]="['/login']">Logout</a> </span>
     <span class="header" >Book Bus tickets</span>   
     </div>
    </header>
   </div>
   
   
   <div class="container">
  <ul class="nav nav-tabs">
    <li><a class="tabs" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="active"><a class="tabs" routerLink="/assessments" routerLinkActive="active">Assements</a></li>
	<li><a class="tabs" routerLink="/newenrollments" routerLinkActive="active">New Enrollments</a></li>
  </ul>
</div> -->

<div class="text-center">

<h4 class="panel-heading">Book bus tickets</h4>

</div>

    <div class="container">
				<div>
					
				<form name="assessmentsform" (ngSubmit)="f.form.valid && onClickSubmit()" #f="ngForm" novalidate>
				<div  class="well" *ngIf="search">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromplace.valid }">
						<label for="fromplace">Origin</label>
						<input type="text" class="form-control" name="fromplace" [(ngModel)]="model.fromplace" #fromplace="ngModel" required 
								placeholder="Leaving From"/>
						<div *ngIf="fromplace.touched && !fromplace.valid" class="alert alert-danger">Origin is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toplace.valid }">
						<label for="toplace">Destination</label>
						<input type="text" class="form-control" name="toplace" [(ngModel)]="model.toplace" #toplace="ngModel" required
								placeholder="Going to"/>
						<div *ngIf="toplace.touched &&!toplace.valid" class="alert alert-danger">Destination is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdate.valid }">
						<label for="fromdate">Date of journey</label>
						<input type="date" class="form-control" name="fromdate" [(ngModel)]="model.fromdate" #fromdate="ngModel" required
								placeholder="Select date"/>
						<div *ngIf="fromdate.touched && !fromdate.valid" class="alert alert-danger">Date of journey is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !returndate.valid }">
						<label for="returndate">Date of Return (optional)</label>
						<input type="date" class="form-control" name="returndate" [(ngModel)]="model.returndate" #returndate="ngModel"
								placeholder="Select date"/>
					</div>
					
					<div class="text-center">
					<button type="button" class="btn btn-danger" (click)="onSearch()" [disabled]="!fromplace.valid || !toplace.valid || !fromdate.valid">
					<span class="glyphicon glyphicon-search">Search</span></button>
					</div>
					
				</div>
					
					<div *ngIf="passengerDetails" class="well">
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passengername.valid }">
						<label for="passengername">Passenger name</label>
						<input type="text" class="form-control" name="passengername" [(ngModel)]="model.passengername" #passengername="ngModel" required />
						<div *ngIf="f.submitted && !passengername.valid" class="alert alert-danger">Passenger name is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
					<label for="gender">Select gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" value="male" [(ngModel)]="model.gender" #gender="ngModel">Male</label>
							<label><input type="radio" name="gender" value="female" [(ngModel)]="model.gender" #gender="ngModel">Female</label>
						</div>
						<div *ngIf="f.submitted && !gender.valid" class="alert alert-danger">Gender is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
						<label for="phone">Phone</label>
						<input type="number" class="form-control" required name="phone" [(ngModel)]="model.phone" #phone="ngModel" maxlength="10"/>
						<div *ngIf="f.submitted && !phone.valid" class="alert alert-danger">
							<div *ngIf="phone.errors.required">Phone number is required</div>
							<div *ngIf="phone.errors.maxlength">Phone number must be 10 digits</div>
						</div>
					</div>
					
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label>Email</label>
						<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  class="form-control"  
								placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
						<div *ngIf="f.submitted && !email.valid" class="alert alert-danger">
							<div *ngIf="email.errors.pattern">Enter valid Email address</div>
							<div *ngIf="email.errors.required">Email is required</div>
						</div>
					</div>
					
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
						<div *ngIf="f.submitted && !email.valid "> Email is required </div>
					</div> -->
   
				<div class="form-group" *ngIf="first">
					<button [disabled]="loading" class="btn btn-primary">Submit</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a (click)="f.reset()" class="btn btn-link">Reset</a>
				</div>
				</div>
				
				</form>
				<button *ngIf="passengerDetails" type="button" class="btn btn-success btn-md" (click)="addAnotherPerson()">
				<span class="glyphicon glyphicon-plus"></span>Add another passenger</button>
			</div>
</div>





 <div class="container" *ngIf="searchDetails" >
  <table border="1" style="width:100%">
	<thead>
		<tr>
		  	<td><b>Departure</b></td>
			<td><b>Arrival</b></td>
			<td><b>Duration</b></td>
			<td><b>Operator</b></td>
			<td><b>Price</b></td>
			<td><b>Booking</b></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR1N2dIdKYwk9DTT9xa4hsAkDxyCL4EuSfH72w6kOwvQvnj5Vv" width = "50" height = "50" /> 10:00 pm</td>
			<td>06:00 am</td>
			<td>12 hrs</td>
			<td>SRS TRAVELS</td>
			<td>Rs 950</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
			<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmLHyVn5hheycYJlw6qZmP7oqaA4tNGO8OZPTYoEj7Fe8K8Qp_" width="50" height="50">10.00 am</td>
			<td>04:00 pm</td>			
			<td>8 hrs</td>
				<td>KALLADA TOURS & TRAVELS</td>
				<td>Rs 1000</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
		
			<tr>
			<td><img src= "https://upload.wikimedia.org/wikipedia/commons/c/c0/HM_Transport_Inc_-_Daewoo_BF106_SR_Cityliner_-_A-891.jpg" width = "50" height = "50"/>05:30 am</td>
				<td>6:40 pm</td>
				<td>13 hrs</td>
				<td>ORANGE TOURS & TRAVELS</td>
				<td>Rs 530</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
		
		<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROS5iHY4JFswq-HI0k1n0FV_gD7cBIH6edBaSg2CJg2YioZFgN" width = "50" height = "50" /> 12:00 pm</td>
			<td>04:00 am</td>
			<td>4 hrs</td>
			<td>VRL TRAVELS</td>
			<td>Rs 950</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
	</tbody>
  </table>
  </div>
  
  
<!-- <div>

<div class="plane">
  <ol>
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="1A" class="check"/>
          <label for="1A">1A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="1B" />
          <label for="1B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="1C" />
          <label for="1C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox" disabled id="1D" />
          <label for="1D">Occupied</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="1E" />
          <label for="1E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="1F" />
          <label for="1F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="2A" />
          <label for="2A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2B" />
          <label for="2B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2C" />
          <label for="2C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2D" />
          <label for="2D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2E" />
          <label for="2E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2F" />
          <label for="2F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="3A" />
          <label for="3A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3B" />
          <label for="3B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3C" />
          <label for="3C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3D" />
          <label for="3D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3E" />
          <label for="3E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3F" />
          <label for="3F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="4A" />
          <label for="4A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4B" />
          <label for="4B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4C" />
          <label for="4C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4D" />
          <label for="4D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4E" />
          <label for="4E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4F" />
          <label for="4F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="5A" />
          <label for="5A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="5B" />
          <label for="5B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="5C" />
          <label for="5C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="5D" />
          <label for="5D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="5E" />
          <label for="5E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="5F" />
          <label for="5F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="6A" />
          <label for="6A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6B" />
          <label for="6B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6C" />
          <label for="6C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6D" />
          <label for="6D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6E" />
          <label for="6E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6F" />
          <label for="6F">6F</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="7A" />
          <label for="7A">7A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="7B" />
          <label for="7B">7B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="7C" />
          <label for="7C">7C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="7D" />
          <label for="7D">7D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="7E" />
          <label for="7E">7E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="7F" />
          <label for="7F">7F</label>
        </li>
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="8A" />
          <label for="8A">8A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8B" />
          <label for="8B">8B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8C" />
          <label for="8C">8C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8D" />
          <label for="8D">8D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8E" />
          <label for="8E">8E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8F" />
          <label for="8F">8F</label>
        </li>
      </ol>
    </li>
    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="9A" />
          <label for="9A">9A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9B" />
          <label for="9B">9B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9C" />
          <label for="9C">9C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9D" />
          <label for="9D">9D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9E" />
          <label for="9E">9E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9F" />
          <label for="9F">9F</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="10A" />
          <label for="10A">10A</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10B" />
          <label for="10B">10B</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10C" />
          <label for="10C">10C</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10D" />
          <label for="10D">10D</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10E" />
          <label for="10E">10E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10F" />
          <label for="10F">10F</label>
        </li>
      </ol>
    </li>
  </ol>
</div>


</div>  -->
  




<div class="container" *ngIf="add">
				<div class="well">
				<form name="assessmentsform" (ngSubmit)="f.form.valid && onClickSubmit()" #f="ngForm" novalidate>
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromplaces.valid }">
						<label for="fromplaces">Origin</label>
						<input type="text" class="form-control" name="fromplaces" [(ngModel)]="model.fromplaces" #fromplaces="ngModel" required 
								placeholder="Leaving From"/>
						<div *ngIf="f.submitted && !fromplaces.valid" class="alert alert-danger">Origin is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toplaces.valid }">
						<label for="toplaces">Destination</label>
						<input type="text" class="form-control" name="toplace" [(ngModel)]="model.toplaces" #toplaces="ngModel" required
								placeholder="Going to"/>
						<div *ngIf="f.submitted && !toplaces.valid" class="alert alert-danger">Destination is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdates.valid }">
						<label for="fromdates">Date of journey</label>
						<input type="date" class="form-control" name="fromdates" [(ngModel)]="model.fromdates" #fromdates="ngModel" required
								placeholder="Select date"/>
						<div *ngIf="f.submitted && !fromdates.valid" class="alert alert-danger">Date of journey is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !returndates.valid }">
						<label for="returndates">Date of Return (optional)</label>
						<input type="date" class="form-control" name="returndates" [(ngModel)]="model.returndates" #returndates="ngModel"
								placeholder="Select date"/>
					</div> -->
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passengernames.valid }">
						<label for="passengernames">Passenger name</label>
						<input type="text" class="form-control" name="passengername" [(ngModel)]="model.passengernames" #passengernames="ngModel" required />
						<div *ngIf="f.submitted && !passengernames.valid" class="alert alert-danger">Passenger name is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !genders.valid }">
					<label for="genders">Select gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" value="male" [(ngModel)]="model.genders" #genders="ngModel">Male</label>
							<label><input type="radio" name="gender" value="female" [(ngModel)]="model.genders" #genders="ngModel">Female</label>
						</div>
						<div *ngIf="f.submitted && !genders.valid" class="alert alert-danger">Gender is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phones.valid }">
						<label for="phones">Phone</label>
						<input type="number" class="form-control" name="phone" [(ngModel)]="model.phones" #phones="ngModel" required />
						<div *ngIf="f.submitted && !phones.valid" class="alert alert-danger"> Phone number is required </div>
					</div>
					
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emails.valid }">
						<label>Email</label>
						<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  class="form-control"  
								placeholder="Email" name="email" [(ngModel)]="model.emails" #emails="ngModel" required>
						<div *ngIf="f.submitted && !emails.valid" class="alert alert-danger">
							<div *ngIf="emails.errors.pattern">Enter valid Email address</div>
							<div *ngIf="emails.errors.required">Email is required</div>
						</div>
					</div>
					
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
						<div *ngIf="f.submitted && !email.valid "> Email is required </div>
					</div> -->
   
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">Submit</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a (click)="f.reset()" class="btn btn-link">Reset</a>
				</div>
				
				</form>
				<!-- <button type="button" class="btn btn-success btn-md" (click)="addAnotherPerson()"><span class="glyphicon glyphicon-plus"></span>Add another passenger</button> -->
			</div>
