<!-- main app container -->

<!-- 
<div id="header">
    <header>
     <div>
     <span class="header">Welcome {{currentUser.firstName}} | {{todaysDate | date}} | <a [routerLink]="['/login']">Logout</a> </span>
     <span class="header" >Book Bus tickets</span>   
     </div>
    </header>
   </div>
   
   
   <div class="container">
  <ul class="nav nav-tabs">
    <li><a class="tabs" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="active"><a class="tabs" routerLink="/assessments" routerLinkActive="active">Assements</a></li>
	<li><a class="tabs" routerLink="/newenrollments" routerLinkActive="active">New Enrollments</a></li>
  </ul>
</div> -->
<div id="header">
    <header>
     <div class="text-right">
     <h3 class="btn btn-primary">Welcome {{currentUser.firstName}} | {{todaysDate | date}} | 	 
	 <a [routerLink]="['/assessments']"><span class="glyphicon glyphicon-home" style="color:#FFCA28;"></span></a> | 
	 <a [routerLink]="['/login']"><span class="glyphicon glyphicon-off" style="color:#FFCA28;"></span></a> </h3> 
     </div>
    </header>
</div>

<div class="text-center">

<h4 class="panel-heading">Book bus tickets</h4>

</div>

    <div class="container">
				<div>
					
				<form name="assessmentsform" (ngSubmit)="f.form.valid && onClickSubmit()" #f="ngForm" novalidate>
				<div  class="well" *ngIf="search">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromplace.valid }">
						<label for="fromplace">Origin</label>
						<input type="text" class="form-control" name="fromplace" [(ngModel)]="model.fromplace" #fromplace="ngModel" required 
								placeholder="Leaving From"/>
						<div *ngIf="fromplace.touched && !fromplace.valid" class="alert alert-danger">Origin is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toplace.valid }">
						<label for="toplace">Destination</label>
						<input type="text" class="form-control" name="toplace" [(ngModel)]="model.toplace" #toplace="ngModel" required
								placeholder="Going to"/>
						<div *ngIf="toplace.touched &&!toplace.valid" class="alert alert-danger">Destination is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdate.valid }">
						<label for="fromdate">Date of journey</label>
						<input type="date" class="form-control" name="fromdate" [(ngModel)]="model.fromdate" #fromdate="ngModel" required
								placeholder="Select date"/>
						<div *ngIf="fromdate.touched && !fromdate.valid" class="alert alert-danger">Date of journey is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !returndate.valid }">
						<label for="returndate">Date of Return (optional)</label>
						<input type="date" class="form-control" name="returndate" [(ngModel)]="model.returndate" #returndate="ngModel"
								placeholder="Select date"/>
					</div>
					
					<div class="text-center">
					<button type="button" class="btn btn-danger" (click)="onSearch()" [disabled]="!fromplace.valid || !toplace.valid || !fromdate.valid">
					<span class="glyphicon glyphicon-search">Search</span></button>
					</div>
					
				</div>
					
					<div *ngIf="passengerDetails" class="well">
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passengername.valid }">
						<label for="passengername">Passenger name</label>
						<input type="text" class="form-control" name="passengername" [(ngModel)]="model.passengername" #passengername="ngModel" required />
						<div *ngIf="f.submitted && !passengername.valid" class="alert alert-danger">Passenger name is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
					<label for="gender">Select gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" value="male" [(ngModel)]="model.gender" #gender="ngModel">Male</label>
							<label><input type="radio" name="gender" value="female" [(ngModel)]="model.gender" #gender="ngModel">Female</label>
						</div>
						<div *ngIf="f.submitted && !gender.valid" class="alert alert-danger">Gender is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
						<label for="phone">Phone</label>
						<input type="number" class="form-control" required name="phone" [(ngModel)]="model.phone" #phone="ngModel" maxlength="10"/>
						<div *ngIf="f.submitted && !phone.valid" class="alert alert-danger">
							<div *ngIf="phone.errors.required">Phone number is required</div>
							<div *ngIf="phone.errors.maxlength">Phone number must be 10 digits</div>
						</div>
					</div>
					
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label>Email</label>
						<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  class="form-control"  
								placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
						<div *ngIf="f.submitted && !email.valid" class="alert alert-danger">
							<div *ngIf="email.errors.pattern">Enter valid Email address</div>
							<div *ngIf="email.errors.required">Email is required</div>
						</div>
					</div>
					
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
						<div *ngIf="f.submitted && !email.valid "> Email is required </div>
					</div> -->
   
				<div class="form-group" *ngIf="first">
					<button [disabled]="loading" class="btn btn-primary">Submit</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a [routerLink]="['/assessments']" class="btn btn-link">Reset</a>
				</div>
				</div>
				
				</form>
				<button *ngIf="passengerDetails" type="button" class="btn btn-success btn-md" (click)="addAnotherPerson()">
				<span class="glyphicon glyphicon-plus"></span>Add another passenger</button>
			</div>
</div>





 <div class="container" *ngIf="searchDetails" >
  <table border="1" style="width:100%">
	<thead>
		<tr>
		  	<td><b>Departure</b></td>
			<td><b>Arrival</b></td>
			<td><b>Duration</b></td>
			<td><b>Operator</b></td>
			<td><b>Price</b></td>
			<td><b>Booking</b></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR1N2dIdKYwk9DTT9xa4hsAkDxyCL4EuSfH72w6kOwvQvnj5Vv" width = "50" height = "50" /> 10:00 pm</td>
			<td>06:00 am</td>
			<td>12 hrs</td>
			<td>SRS TRAVELS</td>
			<td>Rs 950</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
			<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmLHyVn5hheycYJlw6qZmP7oqaA4tNGO8OZPTYoEj7Fe8K8Qp_" width="50" height="50">10.00 am</td>
			<td>04:00 pm</td>			
			<td>8 hrs</td>
				<td>KALLADA TOURS & TRAVELS</td>
				<td>Rs 1000</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
		
			<tr>
			<td><img src= "https://upload.wikimedia.org/wikipedia/commons/c/c0/HM_Transport_Inc_-_Daewoo_BF106_SR_Cityliner_-_A-891.jpg" width = "50" height = "50"/>05:30 am</td>
				<td>6:40 pm</td>
				<td>13 hrs</td>
				<td>ORANGE TOURS & TRAVELS</td>
				<td>Rs 530</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
		
		<tr>
			<td><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROS5iHY4JFswq-HI0k1n0FV_gD7cBIH6edBaSg2CJg2YioZFgN" width = "50" height = "50" /> 12:00 pm</td>
			<td>04:00 am</td>
			<td>4 hrs</td>
			<td>VRL TRAVELS</td>
			<td>Rs 950</td>
			<td><button type="button" class="btn btn-success" (click)="book()">Book</button></td>
	
		</tr>
	</tbody>
  </table>
  </div>




<div class="container" *ngIf="add">
				<div class="well">
				<form name="assessmentsform" (ngSubmit)="f.form.valid && onClickSubmit()" #f="ngForm" novalidate>
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromplaces.valid }">
						<label for="fromplaces">Origin</label>
						<input type="text" class="form-control" name="fromplaces" [(ngModel)]="model.fromplaces" #fromplaces="ngModel" required 
								placeholder="Leaving From"/>
						<div *ngIf="f.submitted && !fromplaces.valid" class="alert alert-danger">Origin is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toplaces.valid }">
						<label for="toplaces">Destination</label>
						<input type="text" class="form-control" name="toplace" [(ngModel)]="model.toplaces" #toplaces="ngModel" required
								placeholder="Going to"/>
						<div *ngIf="f.submitted && !toplaces.valid" class="alert alert-danger">Destination is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdates.valid }">
						<label for="fromdates">Date of journey</label>
						<input type="date" class="form-control" name="fromdates" [(ngModel)]="model.fromdates" #fromdates="ngModel" required
								placeholder="Select date"/>
						<div *ngIf="f.submitted && !fromdates.valid" class="alert alert-danger">Date of journey is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !returndates.valid }">
						<label for="returndates">Date of Return (optional)</label>
						<input type="date" class="form-control" name="returndates" [(ngModel)]="model.returndates" #returndates="ngModel"
								placeholder="Select date"/>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passengernames.valid }">
						<label for="passengernames">Passenger name</label>
						<input type="text" class="form-control" name="passengername" [(ngModel)]="model.passengernames" #passengernames="ngModel" required />
						<div *ngIf="f.submitted && !passengernames.valid" class="alert alert-danger">Passenger name is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !genders.valid }">
					<label for="genders">Select gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" value="male" [(ngModel)]="model.genders" #genders="ngModel">Male</label>
							<label><input type="radio" name="gender" value="female" [(ngModel)]="model.genders" #genders="ngModel">Female</label>
						</div>
						<div *ngIf="f.submitted && !genders.valid" class="alert alert-danger">Gender is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phones.valid }">
						<label for="phones">Phone</label>
						<input type="number" class="form-control" name="phone" [(ngModel)]="model.phones" #phones="ngModel" required />
						<div *ngIf="f.submitted && !phones.valid" class="alert alert-danger"> Phone number is required </div>
					</div>
					
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emails.valid }">
						<label>Email</label>
						<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  class="form-control"  
								placeholder="Email" name="email" [(ngModel)]="model.emails" #emails="ngModel" required>
						<div *ngIf="f.submitted && !emails.valid" class="alert alert-danger">
							<div *ngIf="emails.errors.pattern">Enter valid Email address</div>
							<div *ngIf="emails.errors.required">Email is required</div>
						</div>
					</div>
					
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
						<div *ngIf="f.submitted && !email.valid "> Email is required </div>
					</div> -->
   
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">Submit</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a [routerLink]="['/assessments']" class="btn btn-link">Reset</a>
				</div>
				
				</form>
				<!-- <button type="button" class="btn btn-success btn-md" (click)="addAnotherPerson()"><span class="glyphicon glyphicon-plus"></span>Add another passenger</button> -->
			</div>