<div>
<div id="header">
    <header>
     <div class="text-right">
     <h3 class="btn btn-primary">Welcome {{currentUser.firstName}} | {{todaysDate | date}} | 	 
	 <a [routerLink]="['/assessments']"><span class="glyphicon glyphicon-home" style="color:#FFCA28;"></span></a> | 
	 <a [routerLink]="['/login']"><span class="glyphicon glyphicon-off" style="color:#FFCA28;"></span></a> </h3> 
     </div>
    </header>
</div>

<div *ngIf="payment">
    <div class="container">
        <div class="text-center">
		<h4 class="panel-heading">Make payment</h4>
		</div>
    </div>

  <form [formGroup]="paymentForm" (ngSubmit)="submitForm()" novalidate>

    <div class="form-group">
      <label for="cardholdername">Name on Card</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="cardholdername">
  
        <div class="alert alert-danger" *ngIf="cardholdernameControl.errors && cardholdernameControl.touched">
            <div *ngIf="cardholdernameControl.errors.required">Card Holder name is required.</div>
            <div *ngIf="cardholdernameControl.errors.pattern">Only alphabets are allowed.</div>
        </div>
    </div>

   <div class="form-group">
      <label for="cardnumber">Card Number</label>
      <input class="form-control" type="text" placeholder="Enter card number" formControlName="cardnumber">
      
    <div class="alert alert-danger" *ngIf="cardnumberControl.errors && cardnumberControl.touched">
            <div *ngIf="cardnumberControl.errors.required">Card Number is required.</div>
    <div *ngIf="cardnumberControl.errors.minlength || cardnumberControl.errors.maxlength
                || cardnumberControl.errors.pattern">Invalid Card Number.</div>
    </div>
    </div>

    <div class="form-group expiry">
      <label>Date of Expiration</label>
      <input class="form-control month" type="text" placeholder="Enter month" formControlName="month">
      <input class="form-control year" type="text" placeholder="Enter year" formControlName="year">
      
    <div class="alert alert-danger" *ngIf="monthControl.errors && monthControl.touched">
    <div *ngIf="monthControl.errors.minlength || monthControl.errors.maxlength
                || monthControl.errors.pattern">Invalid Date of Expiration.</div>
    </div>
    
    <div class="alert alert-danger" *ngIf="yearControl.errors && yearControl.touched">
    <div *ngIf="yearControl.errors.minlength || yearControl.errors.maxlength
                || yearControl.errors.pattern">Invalid Date of Expiration.</div>
    </div>
      
    </div>

    <div class="form-group cvc">
      <label for = "cvv">CVV/CVC</label>
      <input class="form-control" type="text" placeholder="Enter cvv" formControlName="cvv">
      
    <div class="alert alert-danger" *ngIf="cvvControl.errors && cvvControl.touched">
    <div *ngIf="cvvControl.errors.minlength || cvvControl.errors.maxlength
                || cvvControl.errors.pattern">Invalid CVV / CVC Number.</div>
    </div>
      
    </div>
    

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <h3 class="center-block text-center" *ngIf="failed  && paymentForm.invalid">Payment Failed! Please provide correct details</h3>
  </form>
  
  </div>
<div>
<h3 class="center-block text-center" *ngIf="success">Congratulations! Thanks for booking the ticket.</h3>
<h4 class="center-block text-center" *ngIf="success">Your ticket has been mailed to your email address.</h4>
<a routerLink="#" routerLinkActive="active" class="btn btn-info center-block" *ngIf="success">Book another ticket/Go to HOME page</a>
</div>
</div>
