a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.header {
    display: block;
}


.tabs{
	background-color: #4CAF50;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

td{
	text-align: center;
}
.Bluetext{
	color: blue;
}
