<!-- main app container -->


<div id="header">
    <header>
     <div class="text-right">
     <h3 class="btn btn-primary">Welcome {{currentUser.firstName}} | {{todaysDate | date}} | 	 
	 <a [routerLink]="['/assessments']"><span class="glyphicon glyphicon-home" style="color:#FFCA28;"></span></a> | 
	 <a [routerLink]="['/login']"><span class="glyphicon glyphicon-off" style="color:#FFCA28;"></span></a> </h3> 
     </div>
    </header>
</div>
   
   

    <div class="container">
        <div class="text-center">
		<h4 class="panel-heading">Verify Passenger details</h4>
		</div>
    </div>
	
<div class="well">
 <div>
  <table border="1" style="width:100%">
	<thead>
		<tr>
			<td><b>S.No</b></td>
			<td><b>Passenger Name</b></td>
			<td><b>Origin</b></td>
			<td><b>Destination</b></td>
		    <td><b>Gender</b></td>
			<td><b>Journey Date</b></td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody *ngIf="persons">
		<tr *ngFor="let person of persons; let i=index">
			<td>{{i + 1}}</td>
			<td>{{person.passengerName}}</td>
			<td>{{person.origin}}</td>
			<td>{{person.destination}}</td>
			<td>{{person.gender}}</td>
			<td>{{person.dateOfJourney}}</td>
			<td><span class="glyphicon glyphicon-edit" (click)="edit(person)"></span></td>
		</tr>
	</tbody>
  </table>
  </div>
  </div>
  
 <div *ngIf="editable">
 <h3>Edit details of {{person.passengerName}}</h3>
	 <div class="container">
				<div class="well">
					
				<form name="assessmentsform" (ngSubmit)="f.form.valid && onClickSubmit()" #f="ngForm" novalidate>
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromplace.valid }">
						<label for="fromplace">Origin</label>
						<input type="text" class="form-control" name="fromplace" [(ngModel)]="person.origin" #fromplace="ngModel" required 
								placeholder="Leaving From"/>
						<div *ngIf="f.submitted && !fromplace.valid" class="alert alert-danger">Origin is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toplace.valid }">
						<label for="toplace">Destination</label>
						<input type="text" class="form-control" name="toplace" [(ngModel)]="person.destination" #toplace="ngModel" required
								placeholder="Going to"/>
						<div *ngIf="f.submitted && !toplace.valid" class="alert alert-danger">Destination is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdate.valid }">
						<label for="fromdate">Date of journey</label>
						<input type="date" class="form-control" name="fromdate" [(ngModel)]="person.dateOfJourney" #fromdate="ngModel" required
								placeholder="Select date"/>
						<div *ngIf="f.submitted && !fromdate.valid" class="alert alert-danger">Date of journey is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !returndate.valid }">
						<label for="returndate">Date of Return (optional)</label>
						<input type="date" class="form-control" name="returndate" [(ngModel)]="person.dateOfReturn" #returndate="ngModel"
								placeholder="Select date"/>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passengername.valid }">
						<label for="passengername">Passenger name</label>
						<input type="text" class="form-control" name="passengername" [(ngModel)]="person.passengerName" #passengername="ngModel" required />
						<div *ngIf="f.submitted && !passengername.valid" class="alert alert-danger">Passenger name is required</div>
					</div>
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
					<label for="gender">Select gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" value="male" [(ngModel)]="person.gender" #gender="ngModel">Male</label>
							<label><input type="radio" name="gender" value="female" [(ngModel)]="person.gender" #gender="ngModel">Female</label>
						</div>
						<div *ngIf="f.submitted && !gender.valid" class="alert alert-danger">Gender is required</div>
					</div>
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
						<label for="phone">Phone</label>
						<input type="number" class="form-control" name="phone" [(ngModel)]="person.phone" #phone="ngModel" required />
						<div *ngIf="f.submitted && !phone.valid" class="alert alert-danger"> Phone number is required </div>
					</div>
					
					
					
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label>Email</label>
						<input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  class="form-control"  
								placeholder="Email" name="email" [(ngModel)]="person.email" #email="ngModel" required>
						<div *ngIf="f.submitted && !email.valid" class="alert alert-danger">
							<div *ngIf="email.errors.pattern">Enter valid Email address</div>
							<div *ngIf="email.errors.required">Email is required</div>
						</div>
					</div>
					
					<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
						<div *ngIf="f.submitted && !email.valid "> Email is required </div>
					</div> -->
   
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">Done</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</div>
				
				</form>
			</div>
</div>
 </div>
  
 <div>
 <a routerLink="/payment" routerLinkActive="active" class="btn btn-info center-block">Do you want to proceed to Payment section? If yes, click to continue</a>
 </div>